@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

/* nav */
nav {
  background-color: #2f85e9;
  position: sticky !important;
  top: 0 !important;
  z-index: 111;
}
nav .container-sm .navbar-brand {
  font-weight: bold;
}
nav .container-sm ul li a {
  font-weight: 500;
}

/* end of nav */
/* header */
header {
  margin-bottom: 0;
}
header .container-fluid {
  background-color: #a6d5df;
}
header .container-fluid #my-cartoon {
  width: 15rem;
  border-radius: 50%;
}
header .container-fluid h1 {
  font-size: 3.5rem;
}
header .container-fluid p {
  font-size: 1.5em;
  margin-bottom: 0;
}
header .custom-shape-divider-top-1646039546 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
header .custom-shape-divider-top-1646039546 svg {
  position: relative;
  display: block;
  width: calc(145% + 1.3px);
  height: 150px;
}
header .custom-shape-divider-top-1646039546 .shape-fill {
  fill: #A6D5DF;
}

/* end of header */
#about-me-field {
  text-align: center;
  margin: 10% 0;
}
#about-me-field #desc-about-me {
  width: 60%;
}

#projects-field .skew-c {
  width: 100%;
  height: 100px;
  position: relative;
  left: 0px;
  z-index: 0;
  background: linear-gradient(to left bottom, rgba(255, 255, 255, 0) 49%, #a6d5df 50%);
}
#projects-field article {
  background-color: #a6d5df;
}
#projects-field article h2 {
  margin-bottom: 0;
}
#projects-field article #project-cards {
  width: 85%;
}
#projects-field article #project-cards a {
  color: #000;
  text-decoration: none;
}
#projects-field article #project-cards .card img {
  border-bottom: #c7c2c2 solid 1px;
}
#projects-field .skew-cc {
  width: 100%;
  height: 100px;
  position: relative;
  left: 0px;
  background: linear-gradient(to left bottom, #a6d5df 49%, rgba(255, 255, 255, 0) 50%), linear-gradient(-50deg, #ffffff00 16px, rgba(0, 0, 0, 0) 0);
}

#contact-me-field article #form-field {
  width: 50% !important;
}

footer {
  background-color: #2f85e9;
  font-family: "Shippori Antique B1", sans-serif;
}
footer article {
  width: 50% !important;
  color: white;
}
footer article h3 {
  font-size: 1.3em;
  font-style: italic;
}
footer article #socmed-logo-img a img {
  width: 2rem;
  margin: 0 0.11rem;
}

nav ul li a:hover {
  font-weight: bold;
}

header img:hover {
  animation: swing-object 2.5s infinite alternate-reverse;
}

footer img:hover {
  animation: rotate-object 1s alternate infinite;
}

@keyframes swing-object {
  0% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}
@keyframes rotate-object {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 756px) {
  header .container-fluid h1 {
    font-size: 2.5rem;
  }
  header .container-fluid p {
    font-size: 1.3em;
  }

  #about-me-field #desc-about-me {
    width: 85%;
  }

  #projects-field article #project-card {
    width: 100%;
  }

  #contact-me-field article #form-field {
    width: 90% !important;
  }

  footer article {
    width: 90% !important;
  }
  footer article h3 {
    font-size: 1.1rem;
  }
}

/*# sourceMappingURL=style.css.map */
